@font-face {
	font-family:Andika;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Andika.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Bloc-de-texte-standard {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:Andika, sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:629.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:629.29px;
}
#_idContainer001 {
	-webkit-transform:translate(145.748px,218.395px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(145.748px,218.395px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:337.80px;
}
#_idContainer002 {
	-webkit-transform:translate(146.220px,222.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:205.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(146.220px,222.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:337.32px;
}
#_idContainer003, #_idContainer004 {
	-webkit-transform:translate(145.748px,222.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:205.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(145.748px,222.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:337.80px;
}
#_idContainer005 {
	-webkit-transform:translate(145.748px,422.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(145.748px,422.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:337.80px;
}
#_idContainer006 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:629.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1258.58px;
}
#_idContainer007, #_idContainer013 {
	-webkit-transform:translate(194.645px,36.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(194.645px,36.978px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:326.93px;
}
#_idContainer008, #_idContainer014 {
	-webkit-transform:translate(194.645px,222.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:205.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(194.645px,222.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:337.32px;
}
#_idContainer009, #_idContainer010, #_idContainer015, #_idContainer016 {
	-webkit-transform:translate(194.173px,222.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:205.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(194.173px,222.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:337.80px;
}
#_idContainer011 {
	-webkit-transform:translate(36.000px,492.317px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,492.317px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:326.93px;
}
#_idContainer012 {
	-webkit-transform:translate(-629.292px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:629.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-629.292px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1258.58px;
}
#_idContainer017 {
	-webkit-transform:translate(266.362px,492.317px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(266.362px,492.317px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:326.93px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
