@font-face {
	font-family:Cambria;
	font-style:normal;
	font-weight:normal;
	src: url("../font/Cambria.ttc");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Bloc-de-texte-standard {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:Cambria, serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:629.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:629.29px;
}
#_idContainer001 {
	-webkit-transform:translate(120.944px,319.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:309.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(120.944px,319.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:257.24px;
}
#_idContainer002 {
	-webkit-transform:translate(108.094px,-10.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:202.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(108.094px,-10.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:388.30px;
}
#_idContainer003 {
	-webkit-transform:translate(233.291px,323.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:121.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(233.291px,323.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:111.40px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
