@font-face {
	font-family:"Sue Ellen Francisco ";
	font-style:normal;
	font-weight:normal;
	src: url("../font/SueEllenFrancisco.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Bloc-graphique-standard {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Bloc-de-texte-standard {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	-webkit-text-stroke-color:#801a76;
	-webkit-text-stroke-width:20px;
	color:#ffffff;
	font-family:"Sue Ellen Francisco ", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#801a76;
	text-stroke-width:20px;
	text-transform:uppercase;
}
span.CharOverride-2 {
	-webkit-text-stroke-color:#801a76;
	-webkit-text-stroke-width:20px;
	color:#4420ff;
	font-family:"Sue Ellen Francisco ", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#801a76;
	text-stroke-width:20px;
	text-transform:uppercase;
}
span.CharOverride-3 {
	-webkit-text-stroke-color:#801a76;
	-webkit-text-stroke-width:20px;
	color:#6f1d76;
	font-family:"Sue Ellen Francisco ", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#801a76;
	text-stroke-width:20px;
	text-transform:uppercase;
}
#_idContainer000 {
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:629.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:629.29px;
}
#_idContainer001 {
	-webkit-transform:translate(36.000px,31.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:190.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,31.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:557.29px;
}
#_idContainer002 {
	-webkit-transform:translate(25.511px,21.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:421.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.511px,21.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:582.05px;
}
#_idContainer003 {
	-webkit-transform:translate(25.511px,457.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:141.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.511px,457.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:582.05px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
