@font-face {
	font-family:"Sue Ellen Francisco ";
	font-style:normal;
	font-weight:normal;
	src : url("../font/SueEllenFrancisco.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Bloc-de-texte-standard {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Sue Ellen Francisco ", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-webkit-transform:translate(35.999px,140.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:213.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,140.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:523.28px;
}
